<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Us</title>
    <link rel="icon" type="image/x-icon" href="../static/images/IpCalculator.png">
    <link rel="stylesheet" href="../static/styles_css/main.css">
  </head>
  <body class="page">
    <script type="text/javascript" src="scripts/main.js"></script>
    <header class="header" id="Home">
      <div class="header__top">
        <h1>{{ data.message }}</h1> <!-- ПРИКЛАД  -->
        <div class="logo">
          <a href = "/" class="header__top--logo">
            <img src="../static/images/IpCalculator.png" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
          </a>
          <a href="#menu" class="icon" ></a>
        </div>
        <nav class="nav">

          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/WhoWeAre">Who we are</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#Contacts">Other</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="who-we-are" id="WhoWeAre">
        <h2 class="who-we-are__title">List Of Owners</h2>
        <div class="who-we-are__container">
          <p class="who-we-are__desc" style="text-align: left;">

<ins ><a class="footer-nav__link" href="https://www.linkedin.com/in/daniil-sapozhnikov-05b0402b9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Creator: Sapozhnikov Daniil</a></ins><br>Mid Python Developer with expertise in Data Science and SQL.<br><br>

<ins><a class="footer-nav__link" href="https://www.linkedin.com/in/andriy-kendzor-ab1891278?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Creator: Kendzor Andriy</a></ins><br>
Junior Python Developer, with expertise in SQL, Java, C#, and Networking.<br><br>
<ins><a class="footer-nav__link" href="https://t.me/im_Talya">Creator: Tolok Nikita</a></ins><br>
 Frontend Developer specializing in creating engaging user interfaces.<br><br>


<br><br><br>
<ins>Contact Us:</ins><br>
If you have any questions or comments about our Privacy Policy, please contact us at [ipcalculator160224@gmail.com].<br><br><br><br>
            <p class="who-we-are__desc">
          <sub>2024</sub>
        </div>
      </section>
      <section class="calculator" id="Ip_Calculator">
      </section>
    </main>
    <footer class="footer">
      <div class="footer__links">
        <a href = "/" class="foooter--logo">
          <img src="../static/images/IpCalculator.png" alt="Air Logo" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
        </a>

        <nav class="nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/" style="margin-left: 20px;">FaceBook</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#OWNERS">Instagram</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="https://t.me/IpCalculator">Telegram</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="https://mail.google.com/mail/u/1/#inbox?compose=GTvVlcSKjsnxVqkLXHqlLvLGNrNwdLBJkpQTWvCqXscQKDschckCqNFCvfbTzRKGmbvdstJBmZsnG">
                E-mail</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>
  </body>
</html>